body{
    background-color: #fff;
    font-size: 12px;
}

.mandatory{
    color: red;
}

#wrapper{
    background-color: #40485a;
}

.login-panel{
    border : 2px solid #2f4050;
    margin-top: 0%;
}
.opsbutton{
    background-color: #1ab394 !important;
    color : #fff !important;
}
.nav-top{
    margin-top: -57px;
}

.fa-flyrobe:before {
    content: url('../img/ops-dashboard.png') !important;
}

.fa-cc:before{
    content: url('../img/cc.png') !important;
}


.fa-refresh:before{
    content: url('../img/refresh.png') !important;
}

.navigation-a{
    padding: 4px !important;
    padding-left: 14px !important;
}

.nav_header{
    background: #293846;
}

.navlist > li {
    border-left: 4px solid transparent;
    height: 50px;
}

.navlist > li > a {
    height: 50px;
}

.navlist > li > a > div{
    margin-top: -30px;
    margin-left: 51px;
}

.navlist > li.active {
    border-left: 4px solid #ed6655;
    background: #626671;
    height: 100%;
}

.navlist > li:hover {
    border-left: 4px solid #ed6655;
    background: #626671 !important;
    height: 100% !important;
}

.navlist > li > a.active, .navlist > li > a:hover {
    background: transparent !important;
}

.minimize{
    width: 50%;
}


@media print{
    .non-print{
        visibility: hidden;
        display: none;
    }
}