<!--
* FLYROBE - Responsive Dashboard



       _/_/_/ _/_/   _/      _/        _/   _/_/_/ _/_/     _/_/_/_/_/__/      _/_/_/ _/_/       _/_/_/ _/_/
      _/            _/        _/      _/   _/       _/     _/         _/      _/       _/       _/
     _/            _/          _/   _/    _/_/_/_/_/      _/         _/      _/       _/       _/
    _/_/_/_/_/    _/            _/_/     _/_/            _/         _/      _/_/_/ _/_/       _/_/_/_/ _/_/
   _/            _/             _/      _/   _/         _/         _/      _/       _/       _/
  _/            _/              _/     _/      _/      _/         _/      _/       _/       _/
 _/            _/_/_/_/_/_/     _/    _/        _/    _/_/_/_/_/__/      _/_/_/ _/_/       _/_/_/_/ _/_/




*
-->

<!DOCTYPE html>
<html ng-app="flyrobe">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Flyrobe CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="css/style.css?v=20170222-1" rel="stylesheet">

    <link href="plugins/angular-datepicker/css/angular-datepicker.css" rel="stylesheet">

    <link href="css/new_style.css?v=20170612-1" rel="stylesheet">


</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Flyrobe theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top" >

<!-- Main view  -->
<div ui-view class="non-print"></div>

<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-2.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>

<!-- MetsiMenu -->
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- SlimScroll -->
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/flyrobe.js"></script>
<script src="js/plugins/moment/moment.min.js"></script>

<!-- Main Angular scripts-->
<script src="js/angular/angular.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>-->
<script src="js/angular/angular-sanitize.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/angular-translate/angular-translate.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
<script src="js/plugins/angular-idle/angular-idle.js"></script>
<script src="js/plugins/ngStorage/ngStorage.js"></script>
<script src="plugins/angular-datepicker/js/angular-datepicker.js"></script>

<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
<!-- Anglar App Script -->
<script src="js/app.js?v20170306-1"></script>
<script src="js/config.js?v20170612-2"></script>
<script src="js/translations.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js?v20170612-1"></script>

<!-- Directives -->
<script src="js/directive/validateJS.js?v20170131-1"></script>
<script src="js/directive/numbers.js?v20170427-1"></script>

<!--Different Controller-->
<script src="js/controllers/login.js?v20170519-1"></script>

</body>
</html>
