<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu navlist" id="side-menu">
            <li class="nav_header" ui-sref-active="active">
                <a class="navigation-a">
                    <i class="fa fa-flyrobe"></i>
                    <div class="nav-label">{{ 'ORDER_DASHBOARD' | translate }}</div>
                </a>
            </li>
            <li ui-sref-active="active" ng-class="{active: $state.includes('tables')}">
                <a ui-sref="tables.customerCare" class="navigation-a">
                    <i class="fa fa-cc"></i>
                    <div class="nav-label">{{ 'CC TEAM' | translate }}</div>
                </a>
            </li>
        </ul>
    </div>
</nav>