<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div style="text-align: center;">
            <a title="Refresh"><span class="fa fa-refresh" ng-click="$state.reload()"></span></a>
        </div>

        <div class="navbar-header nav-top minimize">
            <span minimaliza-sidebar></span> <h3 class="top-navbar-state">{{main.flyrobeState}}</h3>
        </div>
        <ul class="nav navbar-top-links navbar-right nav-top">
            <li>
                <h3 class="top-navbar-email">{{main.email}}</h3>
            </li>
            <li>
                <a ng-click="main.logout()">
                    Log out
                </a>
            </li>
            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>

    </nav>
</div>